snippet cld
console.log("$1: ", ${1:var_name});
endsnippet

snippet fori
for (let ${2:i} = 0; $2 < ${1:count}; $2${3:++}) {
	${4}
}
endsnippet

snippet fore
for (let ${1:obj} of ${2:container}) {
	${3}
}
endsnippet
